<a href="https://colab.research.google.com/github/dbalt001/CSC221_dbalt001/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
# TIY 4-1

pizzas = ['pepperoni', 'sausage', 'white cheddar']

for types in pizzas:
  print(f"{types} is a type of pizza")

print("\nPizza is overrated")

pepperoni is a type of pizza
sausage is a type of pizza
white cheddar is a type of pizza

Pizza is overrated

In [40]:
# TIY 4-2
#Literally the exact same as 4-1

In [41]:
# TIY 4-3

numbers = list(range(1, 21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [42]:
# TIY 4-4 and 4-5

numbers = list(range(1, 1000001))

print(sum(numbers))

print(min(numbers))

print(max(numbers))

500000500000
1
1000000

In [43]:
# TIY 4-6

numbers = list(range(1, 21, 2))
print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [44]:
# TIY 4-6

for numbers in range(1, 21, 2):
  print(numbers)

1
3
5
7
9
11
13
15
17
19

In [45]:
# TIY 4-7

for numbers in range(3, 31, 3):
  print(numbers)

3
6
9
12
15
18
21
24
27
30

In [46]:
# TIY 4-8

cubes = []
for number in range(1, 11):
  cube = number ** 3
  cubes.append(cube)

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [47]:
# TIY 4-9

cubes = [number**3 for number in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [48]:
# TIY 4-10

numbers = list(range(1, 21))
print("The first three numbers in this list are:")
print(numbers[0:3])

print("\nThe middle three numbers in the list are:")
print(numbers[8:11])

print("\nThe last three numbers in the list are:")
print(numbers[17:21])

The first three numbers in this list are:
[1, 2, 3]

The middle three numbers in the list are:
[9, 10, 11]

The last three numbers in the list are:
[18, 19, 20]

In [49]:
# TIY 4-11

my_pizzas = ['pepperoni', 'sausage', 'white cheddar']

friend_pizzas = my_pizzas[:]

my_pizzas.append('cheeseburger')
friend_pizzas.append('buffalo')

print('Pizzas I like are:')
for types in my_pizzas:
  print(f"{types}")

print('\nPizzas my friend likes are:')
for types in friend_pizzas:
  print(f"{types}")

Pizzas I like are:
pepperoni
sausage
white cheddar
cheeseburger

Pizzas my friend likes are:
pepperoni
sausage
white cheddar
buffalo

In [50]:
# TIY 4-12

my_foods = ['pizza', 'flalfel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

for favs in my_foods:
  print(f"I really enjoy {favs}")

for favs in friend_foods:
  print(f"My friend really enjoys {favs}")

I really enjoy pizza
I really enjoy flalfel
I really enjoy carrot cake
I really enjoy cannoli
My friend really enjoys pizza
My friend really enjoys flalfel
My friend really enjoys carrot cake
My friend really enjoys ice cream

In [51]:
# TIY 4-13

menu_item = ['chicken', 'beef', 'ham', 'shrimp', 'turkey']

print("Our menu includes:")
for item in menu_item:
  print(f"{item}")

new_menu = ['chicken', 'beef', 'ham', 'cheese', 'tofu']
print("\nOur menu includes:")
for item in new_menu:
  print(f"{item}")

Our menu includes:
chicken
beef
ham
shrimp
turkey

Our menu includes:
chicken
beef
ham
cheese
tofu

In [52]:
# Factorial Function

def factorial(n):
  my_list = []
  product = 1

  for x in range(1, n+1):
    product = product * x
    my_list.append(product)
  return product

print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [53]:
# Factorial Function without 4, 13, and 22
''' It's very possible I am doing this wrong, but looking at this one and the code below this part of me thinks that I am not supposed to get the answers shown on the Brightspace.'''
''' So if this is wrong I'd like to know what to do to fix it, but based off this code there isn't anything there for 4, 13, or 22 for me.'''
''' I just don't know if you'd be sneaky enough to do something like that either. '''


def special_factorial(n):
  my_list = []
  product = 1

  for x in range(1, n+1):
    if n == 4:
      my_list.remove(4)
    if n == 13:
      my_list.remove(13)
    if n == 22:
      my_list.remove(22)
    product = product * x
    my_list.append(product)
  return product

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [54]:
def special_factorial(n):
  my_list = []
  product = 1

  for x in range(1, n+1):
    my_list.append(x)
    if n >= 4 and 4 in my_list:
      my_list.remove(4)
    if n >= 13 and 13 in my_list:
      my_list.remove(13)
    if n >= 22 and 22 in my_list:
      my_list.remove(22)
    product = product * x
    my_list.append(product)
  return product

print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000