<a href="https://colab.research.google.com/github/dbalt001/CSC221_dbalt001/blob/main/Class7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
# CSC221 Spring 2024
# Class 7 2/20/24
# Dictionaries, Chapter 6

In [52]:
%%file dylancode.py
print('Hey, I\'m importing')

v1 = 123

def f1(x):
  return x*3

Overwriting dylancode.py

In [53]:
import dylancode

print(dylancode.v1)

print(dylancode.f1(10))

123
30

In [54]:
# Dictionaries
# Key-value pairs

d1 = {'ned':518, 'alex':802, 'jeff':617}

print(type(d1))

<class 'dict'>

In [55]:
print(d1['ned'])

518

In [56]:
d1['ned'] = [518, 61]

print(d1)

{'ned': [518, 61], 'alex': 802, 'jeff': 617}

In [57]:
d1['alex'] = [802, 31]

print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617}

In [58]:
d1['fred'] = [518, 120]

print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120]}

In [59]:
print(d1['nancy'])

KeyError: 'nancy'

In [60]:
print(d1.keys())

dict_keys(['ned', 'alex', 'jeff', 'fred'])

In [61]:
print(d1.values())

dict_values([[518, 61], [802, 31], 617, [518, 120]])

In [62]:
d1[3] = 12345
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345}

In [63]:
d1['3'] = 5678
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345, '3': 5678}

In [64]:
print(d1[3])

print(d1['3'])

12345
5678

In [65]:
d1[12.5] = 'I am a float'

print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 'fred': [518, 120], 3: 12345, '3': 5678, 12.5: 'I am a float'}

In [66]:
print(d1[12.5])

I am a float

In [67]:
print(d1[12.50001])

KeyError: 12.50001

In [68]:
# Removing something

del d1['fred']

print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345, '3': 5678, 12.5: 'I am a float'}

In [69]:
# The value of get

value = d1['fred']

KeyError: 'fred'

In [70]:
value = d1.get('fred', "That was missing")
print(value)

That was missing

In [71]:
value = d1.get('ned', "That was missing")
print(value)

[518, 61]

In [72]:
value = d1.get('applesauce', "That was missing")
print(value)

That was missing

In [73]:
# Looping
for x in d1.values():
  print(f'{x=}')

x=[518, 61]
x=[802, 31]
x=617
x=12345
x=5678
x='I am a float'

In [74]:
for x in d1:
  print(f'{x=}')

x='ned'
x='alex'
x='jeff'
x=3
x='3'
x=12.5

In [75]:
for x in sorted(d1.keys()):
  print(f'{x=}')
  # Can't sort these because the dictionary has numbers and words

TypeError: '<' not supported between instances of 'int' and 'str'

In [76]:
del d1['3']
del d1[12.5]
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345}

In [77]:
for x in sorted(d1.keys()):
  print(f'{x=}')

TypeError: '<' not supported between instances of 'int' and 'str'

In [78]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345}

In [79]:
d1['ted'] = {'age':55, 'height': '5\'7', 'area_code':518}

In [80]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345, 'ted': {'age': 55, 'height': "5'7", 'area_code': 518}}

In [81]:
print(d1['ted']['age'])

55

In [82]:
print(d1['ted']['area_code'])

518

In [83]:
print(d1['ted']['height'])

5'7

In [84]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345, 'ted': {'age': 55, 'height': "5'7", 'area_code': 518}}

In [85]:
d1['ted']['area_code'] = [518, 802]

In [86]:
print(d1)

{'ned': [518, 61], 'alex': [802, 31], 'jeff': 617, 3: 12345, 'ted': {'age': 55, 'height': "5'7", 'area_code': [518, 802]}}

In [87]:
print(d1['ted']['area_code'][1])

802