<a href="https://colab.research.google.com/github/dbalt001/CSC221_dbalt001/blob/main/Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSC 221 Spring 2024

- Dylan Balta

In [ ]:
a = 13
b = 12.5
c = 'fred'

print(a, b, c)

print(type(a))
print(type(b))
print(type(c))

b = a**123
print(type(b), b)

13 12.5 fred
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'> 103521923711427330139508660561111399310356231562909825053544787423528887795603512927942762680653876132399975884814583882073552996857463797

In [ ]:
f2 = 1/3
print(f2)

0.3333333333333333

In [ ]:
print(1/11)

0.09090909090909091

In [ ]:
print(c)

fred

In [ ]:
@ A-Za-z_ followed by 0-9A-Za-z

SyntaxError: invalid decimal literal (<ipython-input-8-e53a2fe3505e>, line 1)

In [ ]:
_3abc = 12

In [ ]:
# Good and bad variable names
age_in_years = 19
last_name = 'Balta'
first_name = 'Dylan'

AgeInYears = 19

print(f'age_in_years={age_in_years} and 4 squared is {4**2}')

age_in_years=19 and 4 squared is 16

In [ ]:
print(age_in_years)

19

In [27]:
#Intro to functions and objects

def f1(x):
  y=3 * x + 2
  return y

def f2(x):
  print(f'Hi I\'m f2 and I got {x}')

def f3(x):
  print(f"Hi I'm f3 and I got {x}")

y = f1(12)
print(y)

f2(12)
f3(21)

38
Hi I'm f2 and I got 12
Hi I'm f3 and I got 21

In [34]:
name = 'dylan balta'

print(name[0:6])

dylan

In [37]:
#Roll one die 200 hundred times and see sum of all
import random
def roll():
  r = random.randint(1,6)
  return r

for i in range(20):
  print(i, roll())

0 6
1 4
2 2
3 4
4 3
5 1
6 6
7 3
8 6
9 1
10 6
11 5
12 1
13 4
14 4
15 3
16 4
17 2
18 4
19 2

In [49]:
#Roll one die 200 hundred times and see sum of all
import random
def roll():
  r = random.randint(1,6)
  return r

def roll_n_times(n):
  total = 0
  for i in range(n):
    r1 = roll()
    total = total + r1
    #print(i, r1)
  return total

t1 = roll_n_times(5)
t2 = roll_n_times(200)

print(t1, t2)

15 722

In [51]:
for i in range(20):
  print(roll_n_times(20000))

70116
69687
70215
69937
69681
69781
69996
70020
69565
69894
69724
70553
70267
70367
70185
69747
70328
70180
70337
69869